<div class="row">
{{#each pacientes}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
               <h4>{{Nombre}} {{Apellido}}</h4>
            <h6>{{NSS}}</h6>
            <h6>{{DNI}}</h6>
        </div>
        </div>
    </div>
{{/each}}
</div>