<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="src/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!--BOSTRAP 4-->
    <%- include ('partials/head.html')%>
</head>
<body>
    <%- include ('partials/navigation.html')%>
    <script> document.getElementById("sintomas").classList.add("active");</script>
    <div>
        <div class="contenedor">
            <div class="contenedor-botones">
                <button class="boton uno"><span>Agregar Sintomas</span></button>
                <button class="boton uno"><span>Buscar Sintomas</span></button>
                <button class="boton uno"><span>Eliminar Sintomas</span></button>
                <button class="boton uno"><span>Mostrar Sintomas</span></button>
                <button class="boton uno"><span>Sintomas</span></button>
                <button class="boton uno"><span>Sintomas3</span></button>
            </div>
          
                

        </div>
    </div>
</body>
</html>
