<div>
        <script> document.getElementById("paciente").classList.add("active");</script>
        <div>
            <div class="contenedorPrim">
                <div class="contenedor">
                    <div class="divisor-3">
                        <a style=" text-decoration:none;" href="/pacientes/agregar">
                        <button class="boton uno button-crud" ><span>Agregar Paciente</span></button>
                        </a>
                        <button class="boton uno button-crud"><span>Buscar Paciente</span></button>
                        <button class="boton uno button-crud"><span>Eliminar Paciente</span></button>
                        <button class="boton uno button-crud"><span>Mostrar Paciente</span></button>
                        <button class="boton uno button-crud"><span>Editar Paciente</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>